{% extends "pyflame/base.html" %}
{% load static %}


{% block content %}
  <h1>Welcome to Pyflame!</h1>
    
  <p><b>Space</b> and <b>time</b> are commonly regarded as the <b>forms</b> of existence of the real world, <b>matter</b> as its <b>substance</b>. A definite portion of matter occupies a definite part of space at a definite moment of time. It is the composite idea of <b>motion</b> that these three fundamental concentions enter into intimate relationship.</p>
  <p>Descartes defined the objective of the exact sciences as consisting in the description of all happening in terms of these three fundamental conceptions, thus referring them to motion.</p>

  
  
  
{% endblock %}
