<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello World!</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam dolorum eius, dolores voluptatem nulla rerum repellendus. Veniam pariatur voluptates labore praesentium harum obcaecati neque, beatae, minus vitae, earum error sequi!</p>
</body>
</html>