{% extends "pyflame/base.html" %}
{% load static %}


{% block content %}

  <div id='options'>
    <ul>
        <a href="{% url 'blog:post_list' %}"><li>Add posts in our blog</li></a>
        <a href='https://mindscape-chronicles.netlify.app/' target="_blank"><li>Visit Mindscape Chronicles</li></a>
        <a href='https://python-depository.netlify.app/' target="_blank"><li>Visit the Python Depository</li></a>
    </ul>
  </div>

  <h1>Welcome to Pyflame!</h1>
    
  <p><b>Space</b> and <b>time</b> are commonly regarded as the <b>forms</b> of existence of the real world, <b>matter</b> as its <b>substance</b>. A definite portion of matter occupies a definite part of space at a definite moment of time. It is the composite idea of <b>motion</b> that these three fundamental concentions enter into intimate relationship.</p>
  <p>Descartes defined the objective of the exact sciences as consisting in the description of all happening in terms of these three fundamental conceptions, thus referring them to motion.</p>


  <!-- Sine Wave -->
  <section class="sine-wave">
    <div class="sine-wave__swhero">
        <canvas id="graphCanvas" class="custom-canvas"></canvas>
        <div class="horizontal-range">
            <label for="waveFrequencyInput">Wave Frequency:</label>
            <input type="range" id="waveFrequencyInput" min="0.01" max="0.1" step="0.01" value="0.02">
            <span id="waveFrequencyValue">0.02</span>
        </div>
        <div class="vertical-range">
            <label for="waveAmplitudeInput">Wave Amplitude:</label>
            <input type="range" class="vertical-input" id="waveAmplitudeInput" min="10" max="70" step="10" value="70">
            <span id="waveAmplitudeValue">70</span>
        </div>
    </div>
</section>
  
  
{% endblock %}
