{% load static %}
{% load blog_tags %}

<!DOCTYPE html>
<html>
    <head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/blog.css" %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

    <div class='user'>
        {% if user.is_authenticated %}
        <p>user: {{ user.username }}</p>
        <p><a href="{% url 'logout' %}">Logout</a></p>
        {% else %}
            <p>
                <a href="{% url 'login' %}">Login</a> 
            </p>
        {% endif %}

    </div>

    <p><a href="{% url 'index' %}">Go back to Home</a></p>
    {% comment %} <p><a href="{% url 'blog:post_list' %}">Blog</a></p> {% endcomment %}
        {% comment %} <a href="{% url 'blog:new_post' %}">Create a New Post</a> {% endcomment %}

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        {% if total_posts %}
        <p>total posts in database: {{ total_posts }}</p>
        {% else %}
        {{ empty }}
        {% endif %}
    </footer>
</body>
</html>

