{% load static %}
{% load blog_tags %}

<!DOCTYPE html>
<html>
    <head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/blog.css" %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>
<body>
    <a href="{% url 'blog:post_list' %}"><h1>PyNoteBook</h1></a>

    
    <p>
        {% comment %} <a href="{% url 'blog:new_post' %}">Create a New Post</a> {% endcomment %}
    </p>
   

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>

