{% extends "blog/base.html" %}
{% load static %}

{% load blog_tags %}

{% block content %}
  <p><a href="{% url 'blog:post_list' %}">Blog</a></p>

  <h2>Edit Post</h2>
  <div class='new-post-form'>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Update Post</button>
  </form>

  <div class='new-post-preview'>
    {{ form.media}}
  </div>
  
  <a href="{% url 'blog:post_detail' year=post.publish.year month=post.publish.month day=post.publish.day post=post.slug %}">Cancel</a>
</div>


  
{% endblock %}
