{% extends "blog/base.html" %}
{% load static %}
{% load blog_tags %}


{% block title %}All Posts{% endblock %}

{% block content %}
<div class="body-container">

    <p>Write a <a href="{% url 'blog:new_post' %}">new post</a></p>

    <h1>Latest Posts</h1>


    {% if tag %}
    <h2> Posts tagged with "{{ tag.name }}"<h2>
    {% endif %}


    <section id='posts-grid' class='post-grid'>
        {% for post in posts %}
            <div class="single-post {% if forloop.first %}large{% endif %}">

                <div id='short-text'>    
                    <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                    

                    {% if forloop.first %}
                    <div>
                        {{ post.body|markdownx|truncatewords_html:30 }}
                    </div>
                    {% endif %}


                    {% if post.tags.all %}

                        <p class="tags"> 
                        {% for tag in post.tags.all %}
                            <a href="{% url "blog:post_list_by_tag" tag.slug %}">{{ tag.name }}</a>
                            {% if not forloop.last %} {% endif %}
                        {% endfor %}
                        </p>
                    {% endif %}
                    

                </div>
                
            </div>
        {% endfor %}
        
        
        

    </section>
    <div>
        {% include "pagination.html" with page=posts %}
    </div>
        
</div>
{% endblock %}

