* {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

:root {
    --primary-color: #790d79;
    --accent-color: #6C757D;
    --neutral-light: #F8F9FA;
    --neutral-dark: #343A40;
    --error-color: #FF0000;
    --success-color: #28A745;
}

body {
    background-color: lavender;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column; 

    /* min-height: 100vh; */
}

body p {
    line-height: 1.6rem;
}

header {
    background-color: #343A40;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

header h1 {
    margin: 0;
}

#options ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 2rem;
    width: fit-content;
}

#options ul a {
    text-decoration: none;
    color: black;
    background-color: lightgray;
    padding: 1rem;




}

.body-container {
    margin-inline: auto;
    max-width: 1400px;
    width: 90%;
}

section {
    padding: 1rem;
}

/* Add this to your CSS file */
.post-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.post-grid > .single-post > h2 > a {
    text-decoration: none;
    color: white;
    font-size: 40px;
    /* position: relative; */
}

.post-grid > .single-post > #short-text > h2 > a {
    text-decoration: none;
    color: white;
    font-size: 30px;

}

.post-grid > .single-post > #short-text > p.tags > a{
    text-decoration: none;
    background-color: purple;
    color: white;
    /* padding: 0.5rem; */
    border-radius: 5px;
    /* border: 1px solid green; */
    /* bottom: 0; */
}

#post-short-content {
    flex: 2;
    position: inherit;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

#post-short-content > div > h2 > a {
    text-decoration: none;
    color: inherit;
    font-size: 40px;
}

#short-text {
    background-color: rgba(0, 0, 0, 0.7);;
    position: relative;
    justify-content: space-evenly;
    flex: 2;
    /* position: inherit; */
    bottom: 0;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    
}

#short-text > div {
    color: white;
}

#post-short-content > #short-text > p.tags > a {
    text-decoration: none;
    background-color: purple;
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid green;
}

.single-post {
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.8); /* rgba(RED, GREEN, BLUE, ALPHA) */
    min-height: 220px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url('../img/placeholder1.png');
    border-radius: 10px;
    overflow: hidden;


}   

#single-post > p.tags > a {
    text-decoration: none;
    color: var(--primary-color);

}

.single-post.large {
    grid-row: span 2;
    grid-column: span 2;
    /* background-image: url('https://picsum.photos/900/500'); */
}

.single-post.large > #post-image {
       /* flex: 1; */
    /* z-index: 1; */
    position: absolute;
    /* opacity: 0.8;  */
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
    /* filter: brightness(40%); */
}

.single-post > #post-image {
    filter: brightness(40%);

}

#sidebar { 
    display: flex;
    flex-direction: column;
    float:right;
    width:30%;
    padding:1rem;
    background: var(--neutral-light); 
    height:100%;
    border-radius: 10px;
    /* color: var(--primary-color); */

}


#sidebar > h2 {
    /* align-items: center; */
    justify-content: center;
    display: flex;
}

#sidebar > p {
    color: var(--primary-color);
}

#sidebar > ul > li > a {
    text-decoration: none;
    color: var(--primary-color);
}

#content { 
    flex: 1;
    margin: 0 auto;
    max-width: 1400px;
    /* margin: 0 auto; */
    /* display: flex; */
    flex-direction: column;
    width: 90%;
}

#content h1 {
    padding: 2rem 0rem 1rem 0rem;
    display: flex;
    justify-content: center;
    font-size: 60px;
}

#content h2 {
    /* padding-top: 2rem; */
    /* padding: 1rem 1rem 0rem 1rem; */
    /* padding: 2rem; */

}

#content #post-detail {
    /* border: 1px solid red; */
    background-color: white;
    padding: 1.2rem;
    border-radius: 10px;
    /* padding-bottom: 3rem; */
    margin-bottom: 3rem;
}

#content #post-detail p.date{
    color: darkgray;
    padding-bottom: 1rem;
}

#content #post-detail #post-bottom {
    background-color: ghostwhite;
    /* padding: 2rem 1rem; */
    padding: 1rem;
    margin-top: 2rem;
}


#content #options {
    /* border: 1px solid red; */
    padding: 2rem 0rem;

}

#content .body-container p#np {
    width: fit-content;
    background-color: lightgray;
    padding: 1rem;
}

#content p.tags {
    line-height: 2.5rem;
    /* white-space: nowrap; */
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;

}
#content p#np {
    width: fit-content;
    background-color: lightgray;
    padding: 1rem;
}

#content p a {
    text-decoration: none;
    color: inherit;
}

#content p.tags a {
    text-decoration: none;
    background-color: purple;
    color: white;
    padding: 0rem 0.5rem;
    border-radius: 5px;
    display: flex;
}

#posts {
    /* background-color: firebrick; */
}

#single-post {
    gap: 2rem;
    padding: 1rem;
    border-radius: 10px;
    /* background-color: royalblue; */
}

#single-post:nth-child(even) {
    background-color: var(--neutral-light); /* Background color for even rows */
}

#single-post > h2 > a {
    text-decoration: none;
    color: var(--primary-color);
}

#single-post > p {
    font-size: 18px;
}

#single-post > p.date {
    font-style: italic;
    font-size: 14px;
}

#single-post > p.tags {
    font-size: 20px;
}

#single-post > p.tags > a {
    text-decoration: none;
    color: var(--primary-color);

}

pre {
    /* background-color: grey; */
    color: white;
    /* padding: 0.2rem; */ 
    border-radius: 5px;
}
code {
    background-color: gray;
    color: white;
    padding: 0.2rem;
    border-radius: 5px;
} 

blockquote {
    border-left: 5px solid lightgray;
    color: rebeccapurple;
    padding-left: 0.5rem;
    padding: 1rem;
}

/* Apply styling to the entire table */
table {
    width: 100%; /* Make the table fill its container */
    border-collapse: collapse; /* Merge table borders */
    font-family: Arial, sans-serif; /* Choose a font */
}

/* Style table headers */
thead {
    background-color: #f2f2f2; /* Header background color */
    text-align: left; /* Text alignment */
    padding: 10px; /* Padding around header content */
    border-bottom: 2px solid #ddd; /* Bottom border */
}

/* Style table data cells */
tbody {
    padding: 8px; /* Padding around cell content */
    text-align: left; /* Text alignment */
    border-bottom: 1px solid #ddd; /* Bottom border */
}

/* Style even rows */
tr:nth-child(even) {
    background-color: #f5f5f5; /* Background color for even rows */
}

/* Style odd rows */
/* tr:nth-child(odd) {
    background-color: #ffffff;
} */

/* Add hover effect to table rows */
tr:hover {
    background-color: #f5f5f5; /* Background color on hover */
}

/* tr:nth-child(even):hover {
    background-color: #dddddd;
} */

.plotly-graph {
    /* background-color: red; */
}

#sidebar > #tags {
    line-height: 2.5rem;

}

#sidebar > #tags > a {
    text-decoration: none;
    text-decoration: none;
    background-color: purple;
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
}

#sidebar > .hn-articles > ul > li > a {
    text-decoration: none;
    color: var(--primary-color);

}

#sidebar > .hn-articles > ul > li > p {
    margin-top: 0;
}

.markdownx {
    display: flex;
    gap: 1rem;
}

.markdown-preview {

}

textarea#id_body.markdownx-editor {
    max-height: 400px;
    min-width: 50%;
}

form#comment-form {
    padding: 1rem;
}

.user {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.user p a {
    text-decoration: none;
    font-size: larger;
    color: inherit;
    padding: 0.2rem;
    background-color: orange;
    font-weight: bold;
    border-radius: 5px;
}

/* messages */
ul.messages {
    margin:10px 100px;
    padding:0;
    list-style-type:
    none;
}
ul.messages li.success,
ul.messages li.warning,
ul.messages li.error,
ul.messages li.info {
    margin:0;
    padding:14px 20px;
    list-style:none;
    color:#fff;
}

ul.messages li.success { background:#81ce81; }
ul.messages li.success a { color:#0ac33e; }

ul.messages li.error { background:#a30029; color:#e9828e; }
ul.messages li.error a { color:#e9828e; }

ul.messages li.info { background:#faffae; color:#696b4e; }
ul.messages li.info a { color:#1586de; }

ul.messages li.warning { background:#de9404; }
ul.messages li.warning a { color:#f49000; }

ul.messages li a.close {
    margin:0;
    float:right;
    opacity:1;
    border:0;
    box-shadow:none;
    text-shadow:none;
}

/* comments */
.comment {
    padding:10px;
}
.comment:nth-child(even) {
    background:#efefef;
}
.comment .info {
    font-weight:bold;
    font-size:12px;
    color:#666;
}


footer {
    background-color: #343A40;
    /* margin-top: auto; */
    color: white;
    flex-shrink: 0;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

form#login-form {
    padding: 1rem;
    /* font-size: 60px; */
    /* border: 1px solid red; */

}

@media screen and (max-width: 767px) {

    body {
        /* max-width: 600px;
        margin: 0 auto; */
    }

    blockquote {
        /* background-color: lightgray; */
        /* padding: 1rem; */
        line-height: 1rem;

    }

    body pre {
        font-size: 12px;
    }
    
    header {
        /* width: 100%; */
    }

    header h1{
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 1rem 0rem;
    }

    .user {
        justify-content: center;
        font-size: 15px;
        display: block;
    }

    .body-container {
        /* border: 2px solid green; */
        width: 100%;
    }
    
    #content {
        display: flex;
        flex-direction: column;
        text-align: justify;
        font-size: 20px;
        margin: 0 auto;
        padding: 1rem;
        width: 90%;
        margin: 0 auto; 
    }

    #content p.date {
        font-size: 14px;
    }
    

    #content h1 {
        text-align: center;
        padding-bottom: 1rem;
        font-size: 40px;
    }

    #content h2 {
        text-align: center;
    }

    #content#post-detail {
        width: 90%;
    }

    #content #post-detail p {
        /* color: rebeccapurple; */
        /* word-wrap: break-word; */
        font-size: 14px;
        line-height: 1.4rem;
    }


    

    canvas#graphCanvas.custom-canvas {
        width: 100%;
    }
    
    #options {
        padding: 0rem 2rem 2rem 2rem;
        display: flex;
        gap: 2rem;
        flex-direction: column;
        align-items: center;
    }

    #options ul a {
        text-decoration: none;
        color: inherit;
    }
    
    #options ul{
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: 0;
    }

    #options li {
        font-size: 20px;
        gap: 1rem;
        /* padding: 1rem; */
        /* background-color: #9cbfde; */
    }

    form#registration-form ul {
        /* list-style: none; */
        padding: 0rem 1rem;
    }

    form#registration-form button {
        font-size: 25px;
        display: flex;
        width: 100%;
        justify-content: center;
    }

    form#registration-form ul.errorlist {
        color: red;
    }

    form#registration-form ul li {
        font-size: 15px;
    }
    

    form#registration-form p.required {
        display: flex;
        flex-direction: column;
    }
    
    form#login-form {
        /* border: 1px solid green; */
        width: 90%;
        font-size: 30px;
        background-color: #9cbfde;
        
    }

    form#login-form p {
        display: flex;
        flex-direction: column;
    }

    form#login-form input {
        display: flex;
        padding: 0.5rem;

    }

    form#login-form button {
        display: flex;
        padding: 0.5rem 1rem;
        width: 100%;
        justify-content: center;
        font-size: 20px;
    }

    .markdownx {
        display: flex;
        flex-direction: column-reverse;
    }

    form#new-post {
        padding: 1rem;
        background-color: #9cbfde;
        font-size: 20px;
    }
    form#new-post button {
        display: flex;
        padding: 0.5rem 1rem;
        width: 100%;
        justify-content: center;
        font-size: 20px;
    }

    .markdownx .markdownx-preview {
        font-size: 15px;
        max-height: 200px;
        overflow: scroll;
    }
    span.helptext {
        font-size: 13px;
    }

    .vertical-range, .horizontal-range {
        font-size: 15px;
    }

    #post-grid.post-grid {
    }
    
    .post-grid {
        /* padding: 1rem; */
        display: flex;
        flex-direction: column;
        /* border: 1px solid red; */

    }

    .post-grid > .single-post {
        /* margin-bottom: 2rem;  */
        border-radius: 10px;
        overflow: hidden;
    }

    .post-grid > .single-post > #short-text > h2 > a{
        /* color: red; */
        font-size: 30px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        max-width: 90%;

    }

    .post-grid > .single-post > #short-text > div > p {
        /* color: #28A745; */
        display: flex;
        justify-content: center;
        width: 90%;
        font-size: 14px;
        margin: 0 auto;

    }

    .post-grid > .single-post > #short-text > p.tags > a {
        font-size: 14px;
    }


    #short-text > div {
        /* color: white; */
        display: none;
    }
    
    footer {
        padding: 1rem;
    }

    footer p {
        margin: 0;
    }

    /* footer div{
        display: flex;
        justify-content: space-between;
    } */
    
}

