{% extends "pyflame/base.html" %}



{% block content %}


<div class='user'>
    {% if user.is_authenticated %}
    <div>
        <p>
            Hello {{ user.username }}!, 
            your email is {{ user.email }}. 
        </p>
    </div><br>
    <p><a href="{% url 'logout' %}">Logout</a></p>
    {% else %}
        <p>
            <a href="{% url 'login' %}">Login</a> 
        </p>
    {% endif %}

</div>


<p id='np'><a href="{% url 'blog:new_post' %}">Write a New Post</a>.</p>
{% endblock %}
